<section class="main-section">
    <div class="container pt-md-5 pt-sm-3">
        <div class="row align-items-center">
            <div class="col-md-6 py-5">
                <h1 class="fw-bold">
                    Best Car Rental & Rental in the area (Location)
                </h1>
                <p class="mt-4">
                    Welcome to Binar Car Rental. We provide the best quality cars at affordable prices. Always ready to serve your needs for car rental for 24 hours.
                </p>

                <a class="btn btn-success btn" href="@Url.Action("ShowCars", "Home")" role="button">Start Renting Car</a>
            </div>
            <div class="col-md-6 py-5 d-flex align-items-center justify-content-start" id="car-img">
                <div class="bg-car"></div>
                <img src="https://i.ibb.co/PxNtW0p/Mercedes-Car-EQC-300k-W-Edition-900x598-1.png" class="w-100"
                     alt="car" id="img-car" />
            </div>
        </div>
    </div>
</section>